.ax_default {
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.container-box {
}
.container-box-header {
}
.container-laber {
  font-size:12px;
  color:#B8B8B8;
  text-align:left;
}
.container-label-highlighted {
  font-size:12px;
  color:#ECECEC;
  text-align:left;
}
.container-text_field {
  font-size:16px;
  color:#E2E2E2;
  text-align:left;
}
.container-heading_1 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  color:#CDCDCD;
  text-align:left;
}
.container-heading_2 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#CDCDCD;
  text-align:left;
}
.container-heading_3 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#CDCDCD;
  text-align:left;
}
.container-link-button {
  font-size:12px;
  color:#1E98D7;
  text-align:left;
}
.container-subbox {
  color:#6D6D6D;
}
.container-subbox-dark {
  color:#6D6D6D;
}
.container-checkbox {
  font-size:12px;
  color:#B8B8B8;
  text-align:left;
}
.container-button-orange {
  font-size:12px;
  color:#FFFFFF;
}
.container-button-gray {
  font-size:12px;
  color:#FFFFFF;
}
.container-button-green {
  font-size:12px;
  color:#FFFFFF;
}
.container-button-red {
  font-size:12px;
  color:#FFFFFF;
}
.item-label-purple {
  font-size:12px;
  color:#B85DFF;
  text-align:left;
}
.item-label-orange {
  font-size:12px;
  color:#FF6700;
  text-align:left;
}
.item-label-green {
  font-size:12px;
  color:#61FF5D;
  text-align:left;
}
.side-button {
  font-size:18px;
  color:#CFCFCF;
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.label {
  font-size:14px;
  text-align:left;
}
.ellipse {
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#1E98D7;
}
.shape {
}
.heading_1 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:"Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label1 {
  font-size:13px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.connector {
}
.menu_item {
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.flow_shape {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.icon {
}
.new_style {
}
textarea, select, input, button { outline: none; }
